#
# App:         UPS Monitoring Service
# Author:      Mirco Caramori
# Copyright:   (c) 2021 Mirco Caramori
# Repository:  https://github.com/mircolino/vacation
#
# Description: repository git attributes
#

* text=auto encoding=UTF-8
