#
# App:         UPS Monitoring Service 
# Author:      Mirco Caramori
# Copyright:   (c) 2021 Mirco Caramori
# Repository:  https://github.com/padus/vacation
#
# Description: Instruct git to ignore files and directories that should not be save in the repository
#

/build/

**/desktop.ini
